<%= stylesheet_link_tag "application.scss" %>
<header class="page-header">
  <h1>Welcome to the Jungle Store!</h1>
<h3>Where you'll find the best Totally Bizarre Stuffs!</h3><br />
</header>

<div class="panel">

  

<h5 style="line-height:2rem ">Online shopping is one of the most fun ways to shop for cool, neat, and weird products that you won’t see at your regular department store. If you’re ever stuck for what to buy as a gift, check out the Totally Bizarre Stuffs You Can Buy on our website. You’ll be in for a surprise!</h5><br />


<div class="image-row">
  <p class="gap"><%= image_tag "/uploads/product/image/6/apparel6.jpg", size: '250x200', alt: "HUMAN FEET SHOES", title: "HUMAN FEET SHOES", class: "feet-shoes" %></p>
  <p class="gap"><%= image_tag "/uploads/product/image/9/electronics3.jpg", size: '250x200', alt: "LARGEST WATCH", title: "LARGEST WATCH", class: "World\'s Largest Smartwatch" %></p>
  <p class="gap"><%= image_tag "/uploads/product/image/11/furniture2.jpg", size: '250x200', alt: "ELECTRIC CHAIR", title: "ELECTRIC CHAIR", class: "Electic chair if you want to charge your body" %></p>
</div>
  
  <p>Visit the website and take a look for yourself. Don’t forget to have a list of names and birthdays, so you can keep them in mind for silly gifts for when their birthday is coming up. And don’t forget to shop for some great gifts for yourself too—soon you’ll have a shelf full of weird stuffs too!</p>
  <p><%= link_to "GET IT NOW!!", :root, class: "btn btn-primary"%></p>
</div>